body {
    background-color: rgb(29, 4, 170);
    font-family: Playfair;
}

footer {
    background-color: black;
    color: rgb(215, 248, 234);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5rem;
}